# ================================
# Jupyter Notebook Checkpoints
# ================================
.ipynb_checkpoints/

# ================================
# Anaconda / Environment Files
# ================================
anaconda_projects/

# ================================
# Dataset Folders
# ================================
train/
test/
valid/

# ================================
# Training Artifacts
# ================================
training_model/

# ================================
# Trained Model Files
# ================================
*.h5
*.keras

# ================================
# JSON Training History
# ================================
training_hist.json

# ================================
# Python Cache Files
# ================================
__pycache__/
*.pyc

# ================================
# VS Code Settings
# ================================
.vscode/

# ================================
# Environment Variables
# ================================
.env

# ================================
# Logs
# ================================
*.log